body {
    background-color: #1C1C1C;
}

.logo-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    top: 10px;
}

svg {
    margin: 10px;
}

.flicker {
    -webkit-animation: blink 0.01s ease-out 1500 alternate;
    -moz-animation: blink 0.01s ease-out 15000 alternate;
    -o-animation: blink 0.01s ease-out 1500 alternate;
    animation: blink 0.01s ease-out 1500 alternate;
}

.fade {
    -webkit-animation: fade 3s 10 alternate;
    -moz-animation: fade 3s 10 alternate;
    -o-animation: fade 3s 10 alternate;
    animation: fade 3s 10 alternate;
}

@supports (-ms-ime-align: auto) {
    .fade, .flicker {
        animation: none;
    }
}

@-webkit-keyframes blink {
    70% {opacity: 0.7;}
}

@-moz-keyframes blink {
    70% {opacity: 0.7;}
}

@-o-keyframes blink {
    70% {opacity: 0.7;}
}

@keyframes blink {
    70% {opacity: 0.7;}
}

@-webkit-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@-moz-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@-o-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}