body {
    background-color: #1C1C1C;
}

.logo-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    top: 10px;
}

svg {
    margin: 10px;
}

.flicker {
    -webkit-animation: blink 0.01s ease-out 1500 alternate;
    -moz-animation: blink 0.01s ease-out 15000 alternate;
    -o-animation: blink 0.01s ease-out 1500 alternate;
    animation: blink 0.01s ease-out 1500 alternate;
}

.fade {
    -webkit-animation: fade 3s 10 alternate;
    -moz-animation: fade 3s 10 alternate;
    -o-animation: fade 3s 10 alternate;
    animation: fade 3s 10 alternate;
}

#social-links {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.git-bg {
    position: relative;
    z-index: -10;
    border-radius: 50%;
    top: -63.5px;
    left: 0px;
    height: 60px;
    width: 60px;
    background-color: #00CCFF;
    transition: background-color 1s;
}

.linkedin-bg {
    position: relative;
    z-index: -10;
    top: -64px;
    left: 0px;
    border-radius: 5px;
    height: 60px;
    width: 55px;
    background-color: #00CCFF;
    transition: background-color 1s;

}

.mark-container {
    margin: 10px;
    height: 60px;
    width: 60px;
}

.mark-container img {
    height: 60px;
    width: 60px;
}

.mark-container:hover .git-bg, .mark-container:hover .linkedin-bg {
    background-color: #FF3333;
    animation: shimmer 1.5s ease-in-out infinite alternate;
}

@supports (-ms-ime-align: auto) {
    .fade, .flicker {
        animation: none;
    }
}

@-webkit-keyframes blink {
    70% {opacity: 0.7;}
}

@-moz-keyframes blink {
    70% {opacity: 0.7;}
}

@-o-keyframes blink {
    70% {opacity: 0.7;}
}

@keyframes blink {
    70% {opacity: 0.7;}
}

@-webkit-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@-moz-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@-o-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@keyframes shimmer {
    0% {box-shadow:  0px -1px 3px 3px #FF3333;}
    50% {box-shadow: 0px -1px 5px 5px #FF3333;}
    100% {box-shadow:  0px -1px 3px 3px #FF3333;}
}