body {
    background-color: #1C1C1C;
    height: 98vh;
    margin-bottom:10px;
}

about {
    font-family: 'Raleway';
    color: #FF3333;
    text-align: center;
    font-size: 1.5em;
}

.app-footer {
    width: 98vw;
    position: absolute;
    bottom: 5px;
}

ng-view {
    padding-bottom: 250px;
}

.logo-head {
    max-width: 98vw;
    margin-top: 0px;
}

.logo-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    top: 10px;
}

svg {
    margin: 10px;
    transform: scale(1.25);
}

.logo-head svg {
    transform: scale(1);
}

.flicker {
    -webkit-animation: blink 0.01s ease-out 1500 alternate;
    -moz-animation: blink 0.01s ease-out 15000 alternate;
    -o-animation: blink 0.01s ease-out 1500 alternate;
    animation: blink 0.01s ease-out 1500 alternate;
}

.fade {
    -webkit-animation: fade 3s 10 alternate;
    -moz-animation: fade 3s 10 alternate;
    -o-animation: fade 3s 10 alternate;
    animation: fade 3s 10 alternate;
}

#social-links {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.git-bg {
    position: relative;
    z-index: -10;
    border-radius: 50%;
    top: -63.5px;
    left: 0px;
    height: 60px;
    width: 60px;
    background-color: #00CCFF;
    transition: background-color 1s;
}

.linkedin-bg {
    position: relative;
    z-index: -10;
    top: -64px;
    left: 0px;
    border-radius: 5px;
    height: 60px;
    width: 55px;
    background-color: #00CCFF;
    transition: background-color 1s;

}

.mark-container {
    position: relative;
    margin: 10px;
    height: 60px;
    width: 60px;
}

.mark-container img {
    height: 60px;
    width: 60px;
}

.mark-container:hover .git-bg, .mark-container:hover .linkedin-bg {
    background-color: #FF3333;
    animation: shimmer 1.5s ease-in-out infinite alternate;
}

#langs {
    color: #FF3333;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 1em;
    font-weight: bold;
    animation: from-left 1s linear 1;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    position: relative;
    left: 5%;
    opacity: 0;
}

#h-langs {
    font-size: .9em;
}

#langs span {
    margin: .5em;
}

#h-langs span {
    margin: .25em;
}

nav, nav button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    font-family: Raleway, sans-serif;
    border: none;
}

.bio {
    font-size: .75em;
    margin-bottom: 0px;
    padding: 1em;
}

.nav-link {
    color: #1C1C1C;
    text-decoration: none;
    background-color: #FF3333;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 16px;
    width: 100%;
}

.nav-link:hover {
    animation: shimmer-blue ease-in-out 1.5s infinite alternate; 
}

.wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link:focus {
    outline: none;
}

#social-links {
    margin-top: 0px;
}

@supports (-ms-ime-align: auto) {
    .fade, .flicker {
        animation: none;
    }
}

@-webkit-keyframes blink {
    70% {opacity: 0.7;}
}

@-moz-keyframes blink {
    70% {opacity: 0.7;}
}

@-o-keyframes blink {
    70% {opacity: 0.7;}
}

@keyframes blink {
    70% {opacity: 0.7;}
}

@keyframes from-left {
    0% {left: 5%;}
    100% {opacity: .8; left: 0%;}
}
@-webkit-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@-moz-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@-o-keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@keyframes fade {
    40% {opacity: 0.8;}
    43% {opacity: 0.1;}
    45% {opacity: 0.8;}
    48% {opacity: 0.1;}
    50% {opacity: 0.8;}
}

@keyframes shimmer {
    0% {box-shadow:  0px -1px 3px 3px #FF3333;}
    50% {box-shadow: 0px -1px 5px 5px #FF3333;}
    100% {box-shadow:  0px -1px 3px 3px #FF3333;}
}

@keyframes shimmer-blue {
    0% {box-shadow:  0px -1px 3px 3px #00CCFF;}
    50% {box-shadow: 0px -1px 5px 5px #00CCFF;}
    100% {box-shadow:  0px -1px 3px 3px #00CCFF;}
}

@media only screen and (min-width: 800px) {
    body {
        height: 96vh;
    }

    .mark-container, .mark-container img {
        height: 60px;
        width: 60px;
    }

    .linkedin-bg {
        height: 60px;
        width: 55px;
        top: -63px;
    }

    .git-bg {
        height: 60px;
        width: 60px;
        top: -63px;
    }

    #langs {
        font-size: 2em;
    }

    #langs span {
        margin: 1em;
    }
    
    nav {
        flex-direction: row;
        justify-content: center;
        margin: 0px;
    }

    #social-links {
        margin-top: .25em;
    }

    .nav-link {
        width: 10%;
        text-align: center;
        font-size: 1.2em;
        height: 70%;
    }

    .logo-container {
        width: 80vw;
    }

    .logo-container svg {
        transform: scale(.8);
    }

    .logo-head svg {
        transform: scale(0.25);
        position: absolute;
        left: -35%;
        top: -20%;
    }

    #h-langs {
        margin-bottom: 0px;
        position: relative;
        left: 60%;
    }

    .logo-head {
        min-height: 250px;
        display: flex;
        flex-direction: row;
    }

    .bio {
        margin: 0px 20px;
        position: relative;
        top: 2em;
    }

    about {
        font-size: 2em;
    }

    app-footer {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .project {
        border: none;
        width: 1600px;
        height: 800px;
        transform: scale(.5);
        position: fixed;
        left: 0px;
        top: 0px;
    }
}