<nav>
    <button ng-click="$ctrl.loadAbout()" class="nav-link">About Me</button>
    <button href="" class="nav-link">Projects</button>
    <button href="" class="nav-link">Contact</button>
</nav>
<section id="social-links">
    <div class="mark-container">
        <a href="https://github.com/schoeffa" target="_blank"><img src="../Images/GitHub-Mark-Light-120px-plus.png"></a>
        <div class="git-bg"></div>
    </div>
    <div class="mark-container">
        <a href="https://www.linkedin.com/in/aschoeff/" target="_blank"><img src="../Images/In-White-121px-TM.png"></a>
        <div class="linkedin-bg"></div>
    </div>
</section>